
*{
    box-sizing: border-box;
    margin: 0;
    padding:0;
    color: black;
    
}
#myVideo {
    position: fixed;
    right: 0;
    bottom: 0;
    top: 0;
    left: 0;
    width:100%;
    height: 100%;
    overflow:hidden;
    z-index: -1;
  }
  

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    font-family: 'Playfair Display SC', serif;
    font-family: 'Raleway', sans-serif;
}

h1 {
    position:relative;
    margin-top: 1em;
    margin-bottom: 1em;
    text-align: center;
    font-size: 3.0em;   
    z-index: 1;
}
.parser-in-red{
    color: red;
    text-decoration: none;
}

.first-section {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-top: 2em;
}

.choose-file {
    margin-top: 0.5em;
    margin-bottom: 1em;
    width: 9em;
    height: 3em;
    border-radius: 30em;
    font-size: 15px;
    font-family: inherit;    
    border: none;
    position: relative;
    overflow: hidden;
    z-index: 1;
    box-shadow: 6px 6px 12px #ffffff,
                -6px -6px px #ffffff;
}


.choose-file::before {
    content: '';
    width: 0;
    height: 3em;
    border-radius: 30em;
    position: absolute;
    top: 0;
    left: 0;
    background-image: linear-gradient(to right, #cbd4ce 0%, #de1919 100%);
    transition: .5s ease;
    display: block;
    z-index: -1;
}

.choose-file:hover::before {
    width: 9em;
}

.second-section{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 2em;
}

label {
    margin-top: 2em;
    margin-bottom: 1em;
}

input[type="text"] {
    width: 100%;
    padding:0;
    border-radius: 0.5em;
    border: 1px solid #3a95af;
    line-height: 4;
}

.search-btn {
    margin-top: 2em;
    margin-bottom: 2.5em;
    width: 9em;
    height: 3em;
    border-radius: 30em;
    font-size: 15px;
    font-family: inherit;
    border: none;
    position: relative;
    overflow: hidden;
    z-index: 1;
    
}

.search-btn::before {
    content: '';
    width: 0;
    height: 3em;
    border-radius: 30em;
    position: absolute;
    top: 0;
    left: 0;
    background-image: linear-gradient(to right, #d3c8b6 0%, #de1919 100%);
    transition: .5s ease;
    display: block;
    z-index: -1;
}

.search-btn:hover::before {
    width: 9em;
}
.username{
    position: relative;
    margin-bottom: 2em;
}

h2{
    position: relative;
    margin: 1em;
}
p{
    position: relative;
    margin-top: 2em;
    font-size: 2em;
}

.my_images {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2.5em;
    z-index: 1;
}

.my_images p {
    margin-right: 1em;
}

.my_images img {
    width: 3em;
    height: 3em;
    margin: 0 0.5em;
}
.text_size::placeholder {
    font-size: 1em;
  }
.keywords{
    
    margin-top: 1em;
}


.key_word_prompt{
    position: relative;
    margin-bottom: 1em;
    color: white;
}



